﻿@model Ejemplo1.Models.clientes

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
    <h4>clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Razon_social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Razon_social)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_comercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_comercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CURP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar" class="btn btn-danger" /> 
            <p></p>
            @Html.ActionLink("Regresar", "Index", "Controller", new { @class = "btn btn-info" })
        </div>
    }
</div>
