﻿@model Ejemplo1.Models.clientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Razon_social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Razon_social)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_comercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_comercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CURP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Inicio", "Index", "Controller", new { @class = "btn btn-info" })
</p>
