﻿@model IEnumerable<Ejemplo1.Models.clientes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <span class="glyphicon glyphicon-plus"> </span>
        @Html.ActionLink("Nuevo", "Create", "Controller", new { @class = "btn btn-primary" }) | 
    
    
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Razon_social)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_comercial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RFC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CURP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Razon_social)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_comercial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RFC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CURP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            
            @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-success btn-sm" })
             |

                @Html.ActionLink("Detalles", "Details", new { id = item.id }, new { @class = "btn btn-warning btn-sm" })
             |

                @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-sm" })
            
        </td>
    </tr>
}

</table>
